discord-py-interactions==5.16.0
aiodns==4.0.0
python-dotenv==1.2.2
humanize==4.15.0
asyncpg==0.31.0
tortoise-orm[accel]==1.1.7
redis[hiredis]==8.1.0
orjson==3.11.9
uvloop==0.22.1; platform_system == "Linux"
